
.bd-navbar {
    min-height: 4rem;
    background-color: #F2F2F2;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
}

.nav-item .nav-link {
    color: #6E6E6E;
    background-color: transparent;
}

.nav-item .nav-link.active, .nav-item .nav-link:hover {
    color: #1e1d1c;
}